<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/site.css" />
  </head>
  <body>
    <div class="card" id="mainMenuCard">
      <h1>Add Movie</h1>

      <form action="/movies/add" method="POST">
        <fieldset>
          <div>
            <label for="title" publisher="">Movie Title:</label>
            <input type="text" name="title" id="title" />
          </div>
          <div>
            <label for="director" publisher="">Director:</label>
            <input type="text" name="director" id="director" />
          </div>
          <!-- <div class="submitButtons">
            <input type="submit" value="Predaj podatke" />
          </div> -->
          <button type="submit">Add Movie</button>
        </fieldset>
      </form>

      <a href="/movies"><button>Back to Movie List</button></a>
    </div>
  </body>
</html>
