<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/site.css" />
  </head>
  <body>
    <div class="card" id="mainMenuCard">
      <h2>Welcome to Movie List App</h2>
      <a href="/movies"><button>View Movies List</button></a>
    </div>
  </body>
</html>
